@model TalentCorp.Models.DB.User;

@{
    Layout = null;
}
<html>
    <head>
        <title>Registro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    </head>

    <body>
<h2> Login </h2>
<div>
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Registro
                </div>
                <div class="card-body">
                      <form asp-controller="Login" asp-action="Registro" method="post">
                          <input class="form-control mb-3" type="text" placeholder="Nombre usuario" required asp-for="UserName" />
                            <input class="form-control mb-3" type="text" placeholder="Correo" required asp-for="Email" />
                            <input class="form-control mb-3" type="password" placeholder="Contrasena" required asp-for="Password" />
                            <input class="form-control mb-3" type="password" placeholder="Confirmar contrasena" required />
                          <div class="d-grid gap-2 mb-3">
                              <button class="btn btn-primary" type="submit">Registrarse</button>
                          </div>
                            <div class="text-center">
                                <a asp-controller="Login" asp-action="Login">No tinees una cuenta? Clic Aqui</a>
                            </div>
                            
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

