@model TalentCorp.Entities.Educacion

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .card {
        width: 40%;
        border-radius: 8px;
        margin-left: 30%;
        margin-right: 30%;
        box-shadow: 0px 0px 5px 5px rgb(0 0 0 / 20%);
        text-align: justify;
    }

    .formu {
        padding-top: 5%;
        padding-right: 10%;
        padding-bottom: 5%;
        padding-left: 10%;
    }

    .formuContent {
        margin-bottom: 5%;
    }

    .logo {
        padding-top: 1%;
        position: relative;
        font-weight: bold;
        text-align: center;
    }
</style>

<h3 class="logo">Editar información de la educacion del candidato</h3>
<hr />
<div class="card">
    <div class="formu">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="formuContent">
                <label asp-for="CandidatoId" class="control-label">Candidato</label>
                <select asp-for="CandidatoId" class="form-control" asp-items="ViewBag.CandidatoId"></select>
                <span asp-validation-for="CandidatoId" class="text-danger"></span>
            </div>
            <div class="formuContent">
                <label asp-for="Nivel" class="control-label"></label>
                <input asp-for="Nivel" class="form-control" />
                <span asp-validation-for="Nivel" class="text-danger"></span>
            </div>
            <div class="formuContent">
                <label asp-for="Institucion" class="control-label"></label>
                <input asp-for="Institucion" class="form-control" />
                <span asp-validation-for="Institucion" class="text-danger"></span>
            </div>
            <div class="formuContent">
                <label asp-for="Idiomas" class="control-label"></label>
                <input asp-for="Idiomas" class="form-control" />
                <span asp-validation-for="Idiomas" class="text-danger"></span>
            </div>
            <div class="formuContent">
                <label asp-for="FechaDesde" class="control-label"></label>
                <input asp-for="FechaDesde" class="form-control" />
                <span asp-validation-for="FechaDesde" class="text-danger"></span>
            </div>
            <div class="formuContent">
                <label asp-for="FechaHasta" class="control-label"></label>
                <input asp-for="FechaHasta" class="form-control" />
                <span asp-validation-for="FechaHasta" class="text-danger"></span>
            </div>
            <div style="text-align:right">
                <input type="submit" value="Guardar cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><- Regresar</a>
</div>

