@model TalentCorp.Entities.Puesto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Puesto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NivelRiesgo" class="control-label">Nivel de Riesgo</label>
                <input asp-for="NivelRiesgo" class="form-control" />
                <span asp-validation-for="NivelRiesgo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalarioMin" class="control-label">Salario Minimo</label>
                <input asp-for="SalarioMin" class="form-control" />
                <span asp-validation-for="SalarioMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalarioMax" class="control-label">Salario Maximo</label>
                <input asp-for="SalarioMax" class="form-control" />
                <span asp-validation-for="SalarioMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

